*.zip
*.h5
*.lock
*.txt
data/
.idea/
agent/
__pycache__/
.DS_Store
webapp/node_modules
webapp/*.md
webapp/package-lock.json 
webapp/dist
.vscode/
.ipynb_checkpoints/
notebook.ipynb
MNIST/
result/
firstquadrant/
keras/
helper/
trainbox_bak/
/local_service/fq_task_recv/test
fq-*/
