*.zip
*.h5
*.txt
data/
.idea/
agent/
.DS_Store
.vscode
__pycache__/
webapp/node_modules
webapp/*.md
webapp/package-lock.json 
webapp/dist
.ipynb_checkpoints/
notebook.ipynb
MNIST/
result/
firstquadrant/
keras/
helper/

